services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: auth_service
      JWT_ACCESS_SECRET: access_secret_123
      JWT_REFRESH_SECRET: refresh_secret_123
      GOOGLE_CLIENT_ID: 1098958551810-ojuqdk7od0c62mbvlnnaaf8oanf0gusr.apps.googleusercontent.com
      GOOGLE_CLIENT_SECRET: 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
      GOOGLE_CALLBACK_URL: http://localhost:8080/api/auth/google/callback

    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_service
    volumes:
      - ./seeds:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_service"]
      interval: 10s
      retries: 5

  cache:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5
